body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
  height: 100%;
  color: #fafafa;
  /* Add your background pattern here */
  --sz: 15px;
  --c0: #000;
  --c1: #c71175;
  --ts: 50% / calc(var(--sz) * 8) calc(var(--sz) * 16);
  margin: 0;
  padding: 0;
  overflow: hidden;
  --dot: var(--c1) 0 calc(var(--sz) * 0.78),
    #fff0 calc(calc(var(--sz) * 0.78) + 1px) 100%;
  --dot2: radial-gradient(circle at 90% 0%, var(--dot)) var(--ts),
    radial-gradient(circle at 65% 0%, var(--dot)) var(--ts),
    radial-gradient(circle at 40% 0%, var(--dot)) var(--ts),
    radial-gradient(circle at 15% 0%, var(--dot)) var(--ts);
  --cg1: conic-gradient(from -90deg at 5% 51%, var(--c0) 0 90deg, #fff0 0 100%)
    var(--ts);
  --cg2: conic-gradient(from -90deg at 25% 50%, var(--c1) 0 90deg, #fff0 0 100%)
    var(--ts);
  --cg3: conic-gradient(
      from -90deg at 30% 38.5%,
      var(--c0) 0 90deg,
      #fff0 0 100%
    )
    var(--ts);
  --cg4: conic-gradient(
      from -90deg at 50% 37.5%,
      var(--c1) 0 90deg,
      #fff0 0 100%
    )
    var(--ts);
  --cg5: conic-gradient(from -90deg at 55% 26%, var(--c0) 0 90deg, #fff0 0 100%)
    var(--ts);
  --cg6: conic-gradient(from -90deg at 75% 25%, var(--c1) 0 90deg, #fff0 0 100%)
    var(--ts);
  --cg7: conic-gradient(
      from -90deg at 80% 13.5%,
      var(--c0) 0 90deg,
      #fff0 0 100%
    )
    var(--ts);
  --cg8: conic-gradient(
      from -90deg at 100% 12.5%,
      var(--c1) 0 90deg,
      #fff0 0 100%
    )
    var(--ts);

  background: var(--dot2), var(--dot2),
    radial-gradient(circle at 90% 100%, var(--dot)) var(--ts),
    radial-gradient(circle at 65% 100%, var(--dot)) var(--ts),
    radial-gradient(circle at 40% 100%, var(--dot)) var(--ts),
    radial-gradient(circle at 15% 100%, var(--dot)) var(--ts),
    radial-gradient(circle at 90% 12.5%, var(--dot)) var(--ts),
    radial-gradient(circle at 65% 25%, var(--dot)) var(--ts),
    radial-gradient(circle at 40% 37.5%, var(--dot)) var(--ts),
    radial-gradient(circle at 15% 50%, var(--dot)) var(--ts), var(--cg1),
    var(--cg1), var(--cg2), var(--cg2), var(--cg3), var(--cg3), var(--cg4),
    var(--cg4), var(--cg5), var(--cg5), var(--cg6), var(--cg6), var(--cg7),
    var(--cg7), var(--cg8), var(--cg8),
    linear-gradient(-45deg, #fff0 0 32.25%, #0002 50%, #000 77.5%) var(--ts),
    linear-gradient(-45deg, #fff0 0 32.25%, #000 60%) var(--ts),
    repeating-linear-gradient(90deg, var(--c0) 0 5%, var(--c1) 0 25%) var(--ts);
}

.pai{
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: solid 0.7px;
    border-color: black;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    margin-bottom: 2px;

}

.noticias{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 0.7px;
    border-color: black;
    padding-top: 30px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: opx;
    padding-bottom: 10px;
}

.tank{
    width: 445px;
    height: 300px;
}

.vcc{
    width: 250px;
    height: 200px;
}

.jorge{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;  
}

.jorge2{
    width: 100%;
    height: 70%;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
    align-items: center; 
}

.jorge3{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;  
}

.noticia1{
    width: 20%;
}

.noticia3{
    width: 20%;
    padding-left: 50px;
    border: solid 0.5px;
    border-color: #aaab;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

.douglas{
    width: 30%;
    display: flex;
    flex-direction: row;
}

.iconpesq{
    width: 18px;
    height: 18px;
    display: flex;
    flex-direction: row;
}

.douglass{
    width: 30%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.douglas1{
    height: 30%;
    display: flex;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.douglas2{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.mininot2{
    border: solid 0.5px;
    border-color: #aaab;
    border-right: 0px;
    border-left: 0px;

}

.mininot , .mininot2 , .mininot3 :hover{
    cursor: pointer;
}

h2 , h4{
    text-decoration: none;
}

.h44{
    font-weight: bold;
}

.butao{
    background-color: #567B95;
    text-align: center;
    color: white;
    font-weight: bold;
}

.bootao{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    text-align: center;
    border: none;
    background-color: #ffff;
}

.bootao:hover{
    cursor: pointer;
}

.pedro{
    font-size: 10px;
    margin: 2px;
    margin-right: 5px;
}

.pedro2{
    font-size: 10px;
    margin: 2px;
    margin-right: 5px;
    font-weight: bold;
}

.jorginho{
    margin-left: 15px;
}

.jorginho:hover{
    cursor: pointer;
}

.TNYT{
    width: 482px;
    height: 65px;
}

.TNYT:hover{
    cursor: text;
}